# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Logs
*.log
